.lista-suspensa {

}

.lista-suspensa select{
    background: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    padding: 1.6rem;
    font: size 1.6rem; 
    box-sizing: border-box;
}


.lista-suspensa label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}